@import "../../assets/scss/mixins";
@import "../../assets/scss/variables";

// Defines a mixin for common project internal styles to be used by both 'container' and 'container-edge'
// A bit of a hack so that I don't have to repeat these blocks of code twice
@mixin project-internal-styles() {
  .project-details {
    max-width: 70%;
    line-height: 20px;
    margin: 10px 0 10px 10px;
  }
  .image {
    width: 30%;
    align-self: center;
  }
  .authors {
    margin: 4px 0 4px 0;
    color: $color-background;
  }
  .description {
    margin: 4px 0 10px 0;
    color: $color-primary4;
  }
  .title {
    font-weight: bold;
    text-align: center; /* try un-centering */
    font-size: $typographic-base-font-size * 1.2;
    margin-bottom: 10px;
    margin-right: 1px;
  }
  .meta {
    font-style: italic;
    color: $color-background;
  }
}

.container {
  display: flex;
  flex-direction: row;
  border: 2px solid $color-primary2;
  border-bottom-width: 0px;
  border-radius: 5px;

  @include project-internal-styles();
}

// Basically identical to 'container' but add a bottom border for the project descriptions at top and bottom of screen,
// else they will be missing a bottom border which looks inconsistent
.container-edge {
  display: flex;
  flex-direction: row;
  border: 2px solid $color-primary2;
  border-radius: 5px;
  @include project-internal-styles();
}

