@import "../../assets/scss/mixins";
@import "../../assets/scss/variables";

.section-title {
  text-align: center;
  font-weight: bold;
  font-size: $typographic-base-font-size * 1.4;
  margin: 20px 0 15px 0;
}
