<div class="entry">

	<div class="post-entry-content">

	  <header>
	    <h1 class="entry-title" style="padding-left: 5px"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h1> 
	    <p class="entry-meta" style="padding-left: 5px">
		    {{ page.date | date: "%b %-d, %Y" }}
		    {% if page.category %} • Category: {{ page.category|capitalize }}{% endif %}
	    </p>
	  </header>

	  <article class="entry-body" style="padding-left: 5px; padding-right: 5px">
        BOOOOOO
	  	{% if content %}
	  		{{ content }}
  		{% else %}
	  		{{ page.excerpt }}
	  		{% if page.content contains '<!-- more -->' %}
	  		<p><a href="{{ page.url | prepend: site.baseurl }}">Read more »</a></p>
	  		{% endif %}
  		{% endif %}
	  </article>

  </div>

</div>
{% if content and page.author_footer != false %}

	{% include post_footer.html %}

	{% if page.comments != false %}
	    {% include disqus.html %}
	{% endif %}

{% endif %}
