@import "../../assets/scss/mixins";
@import "../../assets/scss/variables";

.mailchimp-signup {
  text-align: center;
  //margin-top: -40px;
  &-prompt {
    margin-top: 20px;
    font-style: italic;
    font-size: $typographic-base-font-size * 1.1;
  }
  &-form {
    margin: 10px 0 10px 0;
  }
  &-divider {
    margin: 0 10px;
  }
}
