@import "../Post/style";

// Styling for category wrapper
.buttonWrapper {
  background-color: #ffb66b;//#ffcccc;
  border-radius: 10px;
  padding: 5px;
  &:hover {
    background-color: #f2983c;//#ff99cc;
  }
}
